<div class="panel panel-primary">  
    <div class="panel-body">
        <nav class="navbar">
            <input class="form-control" type="text" name="search" [(ngModel)]="filter">
        </nav>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Celular</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="transportadoraUpdate(transportadora.id)" *ngFor="let transportadora of transportadoras | async | filter:[{field:'nome', value: filter}, {field:'email', value: filter},{field:'uf', value: filter},{field:'modal', value: filter}]">
            <td>{{transportadora.nome}}</td>
            <td>{{transportadora.telefone}}</td>
            <td>{{transportadora.email}}</td>
            <td>{{transportadora.celular}}</td>          
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>