<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Cadastrar</h1>
              </div>
              <form class="user"  (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" [textMask]="{mask: maskemail}" id="email" class="form-control form-control-user" placeholder="E-mail"  [(ngModel)]="transportadora.email" name="email" #email="ngModel">
                    <div class="alert alert-danger" [hidden]="testeemail" >
                        <div>             
                            O email é obrigatório! 
                        </div>        
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="nome" [(ngModel)]="transportadora.nome" name="nome" #nome="ngModel" placeholder="Nome">                    
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="empresa" required [(ngModel)]="transportadora.empresa" name="empresa" #empresa="ngModel" placeholder="Empresa">
                  <div class="alert alert-danger" [hidden]="!testeempresa" >
                      <div>             
                          A empresa tem que ter pelo menos 4 caracteres! 
                      </div>        
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-4 mb-3 mb-sm-0">
                    <input  [textMask]="{mask: mask8}" type="text" class="form-control form-control-user" id="telefone" [(ngModel)]="transportadora.telefone" name="telefone" placeholder="Telefone">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" [textMask]="{mask: mask9}" class="form-control form-control-user" id="celular" [(ngModel)]="transportadora.celular" name="celular" placeholder="Celular">
                  </div>
                  <div class="col-sm-4">
                      <input type="text" [textMask]="{mask: mask9}" class="form-control form-control-user" id="celular" [(ngModel)]="transportadora.celular" name="celular" placeholder="Whatsapp">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input type="text"  class="form-control form-control-user" id="cep" required [(ngModel)]="transportadora.cep" name="cep" placeholder="Cep" (change)="buscarCep()">                      
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control form-control-user" id="uf" required [(ngModel)]="transportadora.uf" name="uf" placeholder="Estado">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="cidade" required [(ngModel)]="transportadora.cidade" name="cidade" placeholder="Cidade">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="bairro" required [(ngModel)]="transportadora.bairro" name="bairro" placeholder="Bairro">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="rua" required [(ngModel)]="transportadora.rua" name="rua" placeholder="Rua / Avenida">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="numero" required [(ngModel)]="transportadora.numero" name="numero" placeholder="Número">
                </div>
                <div class="form-group">
                    <label for="name">Modal:</label>
                    <select type="text" class="form-control" id="modal" required [(ngModel)]="transportadora.modal" name="modal" > 
                        <option>Ferroviário</option>
                        <option>Rodoviário</option>
                        <option>Hidroviário</option>
                        <option>Dutoviário</option>
                        <option>Aeroviário</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Eu aceito os termos de serviço</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Cadastrar-se agora!</button>
                            
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="assets/js/sb-admin-2.min.js"></script>
 
</body>

</html>